.calculator-app {
  text-align: center;
  padding: 32px;
  margin: 32px;
}

button {
  margin: 4px;
  margin-bottom: 64px;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 32px;
}
